NEXT_PUBLIC_FIREBASE_API_KEYAI=zaSyDbUeabgKss_FF2odLsyNxh8L91fMEqyns
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=photorecipe-ejrps.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=photorecipe-ejrps
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=photorecipe-ejrps.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=568191182378
NEXT_PUBLIC_FIREBASE_APP_ID=1:568191182378:web:6594e8d6060cffb9628553
